.logos-container {
  margin: 10px 0 5px 0;
}

.logo {
  display: block;
  margin: auto;
  width: 200px;
}

.title-home {
  text-align: center;
  font-size: xx-large;
}
.sub-title-home {
  text-align: center;
  font-size: large;
}

