<h2 class="content-block">Billings</h2>

<div class="button-create-container">
  <dx-button  type="default" text="New billing" (onClick)="showFormCreate()">
  </dx-button> 
</div>
<dx-data-grid class="dx-card wide-card"
  [dataSource]="dataSource"
  keyExpr="id"
  [showBorders]="false"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true">
  <dxo-paging [pageSize]="5"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column
    dataField="id"
    caption="Billing Id"
    [width]="120"
    [hidingPriority]="2">
  </dxi-column>
  <dxi-column
    dataField="customer.id"
    [width]="120"
    caption="Customer Id"
    [hidingPriority]="8">
  </dxi-column>
  <dxi-column
    dataField="customer.name"
    caption="Customer name"
    [hidingPriority]="8">
  </dxi-column>
  <dxi-column
    dataField="customer.age"
    [width]="140"
    caption="Customer Age"
    [hidingPriority]="8">
  </dxi-column>
  <dxi-column
    dataField="createdAt"
    caption="Billing Date"
    [width]="150"
    dataType="date"
    [hidingPriority]="6">
  </dxi-column>
  <dxi-column
    [format]="{ style: 'currency', currency: 'COP', useGrouping: true, minimumSignificantDigits: 3 }"
    dataField="totalPrice"
    caption="Total price"
    [width]="120"
    [hidingPriority]="5">
  </dxi-column>
  <dxi-column type="buttons" [width]="150">
    <dxi-button [onClick]="showProducts" hint="Show products" icon="cart"></dxi-button>
    <dxi-button [onClick]="showFormEdit" hint="Edit" icon="edit"></dxi-button>
    <dxi-button [onClick]="confirmDeleteBilling" hint="delete" icon="trash"></dxi-button>
  </dxi-column>
</dx-data-grid>

<!-- Show product popup -->
<dx-popup
    [width]="400"
    [maxWidth]="'95%'"
    [showTitle]="true"
    title="Products"
    [dragEnabled]="false"
    [hideOnOutsideClick]="true"
    [showCloseButton]="true"
    container=".dx-viewport"
    [(visible)]="popupProductsVisible"
  >
    <div *dxTemplate="let data of 'content'">

      <dx-scroll-view width="100%" height="100%">
        <div class="product-list-container">
          <ng-container *ngFor="let product of currentBilling?.products">
            <div class="product-container">
              <div class="item-container">
                <div>
                  Id Product:
                </div>
                <div>
                  {{ product.id }}
                </div>
              </div>
              <div class="item-container">
                <div>
                  Name:
                </div>
                <div>
                  {{ product.name }}
                </div>
              </div>
              <div class="item-container">
                <div>
                  Price:
                </div>
                <div>
                  COP {{ product.price | number: '1.0-0' }}
                </div>
              </div>
              <div class="item-container">
                <div>
                  Quiantity:
                </div>
                <div>
                  {{ product.quantity }}
                </div>
              </div>
              <div class="item-container">
                <div>
                  Total price:
                </div>
                <div>
                  COP {{ product.totalPrice | number: '1.0-0'}}
                </div>
              </div>
            </div>
            
          
          </ng-container>
          <div class="product-container">
            <div class="item-container">
              <div>
                Total billing:
              </div>
              <div>
                COP {{ currentBilling?.totalPrice | number: '1.0-0' }}
              </div>
            </div>
          </div>
        </div>
      </dx-scroll-view>
     
      

    </div>
</dx-popup>

<!-- Show new billing popup -->
<dx-popup
    [width]="800"
    [maxWidth]="'95%'"
    [showTitle]="true"
    title="Create billing"
    [dragEnabled]="false"
    [hideOnOutsideClick]="true"
    [showCloseButton]="true"
    container=".dx-viewport"
    [(visible)]="popupFormCreateVisible"
  >
    <div *dxTemplate="let data of 'content'">
      <dx-scroll-view width="100%" height="100%">
        <form>
          <dx-form
            [formData]="newBilling">
            <dxi-item
              dataField="idCustomer"
              editorType="dxSelectBox"
              [editorOptions]="{ dataSource: customers, displayExpr: 'name', valueExpr: 'id' }"
            >
              <dxi-validation-rule type="required" message="Customer is required">
              </dxi-validation-rule>
            </dxi-item>
          </dx-form>
          <div class="add-products-container" *ngFor="let selectBox of selectProductBoxes; let i = index">

            <div class="add-product-container" >

              <dx-select-box
                class="select-box-product" 
                [dataSource]="optionsProducts"
                [label]="'Product'"
                [displayExpr]="'name'"
                [valueExpr]="'id'"
                [(value)]="selectBox.id"
                (valueChange)="handleSelectBoxValueChange(i, $event)">
                <dx-validator>
                  <dxi-validation-rule
                  type="required"
                  message="Product is required"
                ></dxi-validation-rule>
                </dx-validator>
              </dx-select-box>

            </div>
            
            
            <div class="add-quantity-container">
              <dx-number-box [label]="'Quantity'" [(value)]="selectBox.quantity" (valueChange)="handleNumberBoxValueChange(i, $event)">
                <dx-validator>
                  <dxi-validation-rule
                  type="required"
                  message="Quantity is required"
                ></dxi-validation-rule>
                </dx-validator>
              </dx-number-box>
            </div>

          </div>
         
          <div class="container-buttons">
            <dx-button class="add-product-button"  type="default" text="Add product" (onClick)="addSelectBox()">
            </dx-button>
  
            <dx-button class="register-button"  type="success" text="Register billing" (onClick)="onFormCreateBilling()">
            </dx-button> 
          </div>
         

        </form>
      </dx-scroll-view>
    </div>
</dx-popup>

<!-- Show edit product popup -->
<dx-popup
    [width]="800"
    [maxWidth]="'95%'"
    [showTitle]="true"
    [title]="'Edit billing ' + billingEdit.id"
    [dragEnabled]="false"
    [hideOnOutsideClick]="true"
    [showCloseButton]="true"
    container=".dx-viewport"
    [(visible)]="popupFormEditVisible"
  >
    <div *dxTemplate="let data of 'content'">
      <dx-scroll-view width="100%" height="100%">
        <form (submit)="onFormEditBilling($event)">
          <dx-form
            [formData]="billingEdit">
            <dxi-item
              dataField="idNewCustomer"
              editorType="dxSelectBox"
              [editorOptions]="{ dataSource: customers, displayExpr: 'name', valueExpr: 'id' }"
            >
              <dxi-validation-rule type="required" message="Customer is required">
              </dxi-validation-rule>
              </dxi-item>

              <dxi-item
                itemType="button"
                horizontalAlignment="left"
                [buttonOptions]="buttonEditBillingOptions"
              >
            </dxi-item>
            </dx-form>
        </form>
      </dx-scroll-view>
    </div>
</dx-popup>
